@import "variables";
@import "mixins";

.container {
  background-color: $calc-base-color;
  width: 100%;
  max-width: 450px;
  border-radius: 15px;
  border: 2px solid grey;
  padding-bottom: 25px;

  .logo-container {
    margin: 25px 0 0 25px;
  }

  .button {
    border: none;
    outline: none;
  }

  .App {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    .display {
      @include button(6rem, 90%, 50px, white, $display-color);
      display: flex;
      font-size: 3rem;
      justify-content: flex-end;
      align-items: center;
      padding-right: 8%;
      margin-top: 1%;
    }

    .specOps {
      display: flex;
      margin-top: 2rem;

      .specNums {
        display: flex;
        flex-direction: column;

        .specials {
          display: flex;

          .special {
            @include button(5rem, 5rem, 50px, white, $specials-color);
            font-size: 1.8rem;
            box-shadow: 1px 2px $display-color;
            margin-right: 20px;
          }
        }
        .number {
          @include button(5rem, 5rem, 50px, white, $numbers-color);
          font-size: 1.8rem;
          box-shadow: 1px 2px $display-color;
          margin-right: 20px;
          margin-top: 10px;
        }

        .zero {
          @include button(5rem, 11rem, 50px, white, $numbers-color);
          font-size: 1.8rem;
          margin-right: 1.6rem;
          margin-top: 12px;
        }
      }
      .operators {
        display: flex;
        flex-direction: column;

        .operator {
          @include button(5rem, 5rem, 50px, white, $operators-color);
          font-size: 1.8rem;
          box-shadow: 1px 2px $display-color;

          margin-bottom: 10px;
        }
      }
    }
  }
}
